p {
    margin: 10px 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.border {
    background-color: #CEE7E7;
    position: fixed;
    z-index: 2;
}

.right-border, .left-border {
    width: 30px;
    height: 100vh;
    top: 0;
    bottom: 0;
}

.right-border {
    right: 0;
}

.left-border {
    left: 0;
}

.top-border, .bottom-border {
    width: 100vw;
    height: 30px;
    left: 0;
    right: 0;
}

.top-border {
    top: 0;
}

.bottom-border {
    bottom: 0;
}

.main-container {
    overflow-y: auto;
}

/* .about-container {

} */

.intro {
    font-family: 'Raleway';
    height: 100vh;
    color: #404040;
    padding-top: calc((100vh - 400px) / 2);
    position: relative;
    box-sizing: border-box;
}

.bar {
    width: 150px;
    height: 10px;
    background-color: #8EBDBC;
    margin-bottom: 20px;
}

.intro-text-1 {
    font-size: 60px;
    font-weight: 100;
}

.intro-text-2 {
    font-size: 60px;
    font-weight: 100;
}

.name {
    font-family: 'Tenor Sans';
}

.intro a {
    color: #8EBDBC;
    text-decoration: none;
}

.intro-text-3 {
    font-size: 30px;
    font-weight: 200;
}

.intro-text-4 {
    font-size: 20px;
    font-weight: 300;
}

.arrow-container {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
}

.content {
    padding: 100px 0;
}

.content-item {
    text-align: center;
    padding: 100px 0;
    width: 80%;
    margin: auto;
    padding-right: 10%;
}

.img-container {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.text-container {
    display: inline-block;
    font-family: 'Raleway';
    width: 50%;
    vertical-align: middle;
    text-align: left;
}

.text-container h2 {
    margin: 0 0 20px 0;
    font-size: 40px;
    font-weight: 500;
}

.text-container h2 p {
    font-size: 40px;
    font-weight: 500;
}

.text-container p {
    font-size: 16px;
    font-weight: 300;
}

.last {
    position: relative;
}

.free-img-container {
    width: 100%;
    max-width: 287px;
    position: absolute;
    right: -50px;
    bottom: -240px;
}

.free-img-container img {
    width: 100%;
}

.same-p {
    margin: 0;
}

.know-more-container {
    text-align: center;
    margin-top: 200px
}

.know-more {
    font-family: 'Raleway';
    font-weight: 100;
}

.know-more h3 {
    font-size: 40px;
    font-weight: 100;
    margin: 0;
}

.know-more p {
    font-size: 16px;
    margin: 15px 0;
}

.links-container {
    margin-top: 30px;
}

.links-container a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Quicksand';
    font-size: 16px;
    color: #54A5A3;
    padding: 12px 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #54A5A3;
    border-radius: 15px;
    margin-right: 10px;
}

.links-container a:hover {
    color: #FFF;
    background-color: #54A5A3;
}

.video-container {
    display: inline-block;
    margin-right: 60px;
    width: 100%;
    max-width: 300px;
}

.video-container video {
    width: 100%;
}

.know-more {
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
    text-align: left;
}

.bar {
    width: 150px;
    height: 10px;
    background-color: #8EBDBC;
    margin-bottom: 30px;
}

@media (max-width: 800px) {
    .video-container {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    body {
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 18px;
    }

    p, li {
        font-size: 15px;
    }

    .contact-links-container {
        display: none !important;
    }

    .border {
        display: none !important;
    }

    .main-container {
        position: relative;
        top: 62px;
        width: 100%;
    }

    .intro {
        padding-top: 0;
        height: auto;
        margin-bottom: 20px;
    }

    .intro > div {
        width: 70%;
        margin: auto;
    }

    .bar {
        width: 75px;
        height: 6px;
        margin-bottom: 10px;
    }

    .intro-text-1, .intro-text-2 {
        font-size: 18px;
        margin: 4px 0;
    }

    .intro-text-3, .intro-text-4 {
        font-size: 15px;
        margin: 4px 0;
    }

    .intro-border {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #FDDFE1;
        margin-bottom: 20px;
    }

    .arrow-container {
        position: relative;
        bottom: 0;
    }

    .arrow-container img {
        width: 30px;
    }

    .content {
        padding: 0 40px 60px 40px;
        width: 100%;
        box-sizing: border-box;
    }

    .content-item {
        padding: 40px 0;
        margin: 0;
        width: 100%;
    }

    .img-container {
        margin: 0;
    }

    .text-container {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .text-container h2 {
        font-size: 20px;
    }

    .text-container h2 p {
        font-size: 20px;
        margin: 0;
    }

    .text-container p {
        font-size: 15px;
    }

    .video-container {
        margin-top: 60px;
    }

    .video-container video {
        width: 100%;
    }

    .know-more h3 {
        font-size: 20px;
        font-weight: 500;
    }

    .know-more p {
        font-size: 15px;
        font-weight: 300;
    }

    .links-container a {
        margin: 0;
        width: 215px;
        box-sizing: border-box;
    }

    .links-container a:first-child {
        margin-bottom: 20px;
    }

    .free-img-container {
        bottom: -270px;
    }
}

@media (max-width: 440px) {
    .content {
        padding: 0 20px 60px 20px;
    }

    .text-container {
        padding: 0;
    }
}
