ul {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.nav-container {
    display: inline-block;
    padding: 20px 10px 10px 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    font-family: 'Raleway';
    font-weight: 700;
}

.nav-container img {
    width: 75px;
    height: 75px;
}

.nav-container a {
    display: block;
    text-decoration: none;
    color: #e87e6f;
    padding-top: 5px;
}

.nav-container .nav-link {
    padding-left: 10px;
}

.nav-container a:hover {
    color: #7fa8a9;
}

.nav-container .selected {
    color: #7fa8a9;
}

#index a {
    width: 75px;
}

#work-nav {
    border: none;
    color: #e87e6f;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Raleway';
    cursor: pointer;
    outline: none;
    background-color: transparent;
    padding: 5px 0 0 10px;
}

/* TODO: update navigation transition animation */
#work-subnav {
    padding-left: 15px;
    transition: all .5s ease;
    position: relative;
}

#work-nav:hover {
    color: #7fa8a9;
}

.collapsible {
    opacity: 0;
    height: 0;
    right: 250px;
}

.show {
    opacity: 1;
    height: 48px;
    right: 0;
}

header {
    display: none;
}

#close-icon {
    display: none;
    width: 18px;
}

@media (max-width: 600px) {
    header {
        display: flex;
        justify-content: center;
        height: 60px;
        position: fixed;
        width: 100%;
        z-index: 20;
        background-color: white;
        border-bottom-style: solid;
        border-bottom-color: #404040;
        border-bottom-width: 1px;
    }

    nav {
        position: absolute;
        left: 0;
        z-index: 20;
        padding: 20px;
        background-color: white;
        display: inline-block;
        height: 100%;
        box-sizing: border-box;
    }

    ul {
        padding-left: 10px;
    }

    #mobile-logo {
        height: 100%;
    }

    #mobile-logo img {
        width: auto;
        height: 100%;
    }

    #hamburger {
        height: 20px;
        display: inline-block;
        cursor: pointer;
    }

    #nav-list-container a {
        text-decoration: none;
        color: #404040;
        font-weight: 700;
        display: inline-block;
    }

    #nav-list-container li:not(:last-child) a {
        padding-bottom: 25px;
    }

    #nav-list-container .nav-link:hover {
        color: #F49595;
    }

    #nav-list-container .selected {
        color: #F49595;
    }

    .hidden {
        display: none;
    }

    .shown {
        display: block;
    }

    .nav-container {
        display: none;
    }

    .main-container {
        position: relative;
        top: 61px;
    }
}