ul {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.nav-container {
    display: inline-block;
    padding: 20px 10px 10px 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    font-family: 'Raleway';
    font-weight: 700;
}

.nav-container img {
    width: 75px;
    height: 75px;
}

.nav-container a {
    display: block;
    text-decoration: none;
    color: #e87e6f;
    padding-top: 5px;
}

.nav-container .nav-link {
    padding-left: 10px;
}

.nav-container a:hover {
    color: #7fa8a9;
}

.nav-container .selected {
    color: #7fa8a9;
}

#index a {
    width: 75px;
}

#work-nav {
    border: none;
    color: #e87e6f;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Raleway';
    cursor: pointer;
    outline: none;
    background-color: transparent;
    padding: 5px 0 0 10px;
}

#work-subnav {
    padding-left: 15px;
    transition: all .5s ease;
    position: relative;
}

#work-nav:hover {
    color: #7fa8a9;
}

.collapsible {
    opacity: 0;
    height: 0;
    right: 250px;
}

.show {
    opacity: 1;
    height: 48px;
    right: 0;
}