

.nav-container {
    display: inline-block;
    padding: 10px;
    position: fixed;
    z-index: 200;
}

.nav-container img {
    width: 75px;
    height: 75px;
}

.nav-container a {
    display: block;
    text-decoration: none;
    color: #db570f;
    padding-top: 5px;
}

.nav-container a:hover {
    color: #2fc29f;
}

ul {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.main-container {
    width: 100vw;
    height: 2000px;
    text-align: center;
    padding-top: 500px;
}

.work-container {
    padding-top: 20px;
}

.work-container a {
    display: block;
    text-decoration: none;
}

.navicare-container {
    font-size: 26px;
}

.contact-container {
    padding-top: 20px
}

.contact-container span {
    display: block;
}