html, body {
    height: 100%;
    margin: 0;
}

h1 {
    margin: 0;
}

.nav-container {
    display: inline-block;
    padding: 10px;
    position: fixed;
    z-index: 1000;
}

.nav-container img {
    width: 75px;
    height: 75px;
}

.nav-container a {
    display: block;
    text-decoration: none;
    color: #db570f;
    padding-top: 5px;
}

.nav-container a:hover {
    color: #2fc29f;
}

ul {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.main-container {
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

.work-container {
    padding-top: 20px;
}

.work-container a {
    display: block;
    text-decoration: none;
}

.contact-container {
    padding-top: 20px
}

.contact-container span {
    display: block;
}

.blackout {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
}

.pages-container {
    font-size: 26px;
    height: 100%;
    position: relative;
}

.page {
    width: 100%;
    height: 100vh;
    border-width: 10px;
    border-style: solid;
    box-sizing: border-box;
    left: 0;
    visibility: hidden;
}

.prev-page {
    position: relative;
    top: -100%;
}

.current-page {
    position: relative;
    top: 0;
}

.next-page {
    position: fixed;
    top: 0;
    visibility: hidden;
}

.content-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-content {
    margin: auto;
    text-align: center;
}

.parallax-container {
    position: fixed;
    z-index: 100;
    visibility: visible;
}

#parallax-1 {
    position: fixed;
    top: calc(50% - (266px / 2));
    left: 315px;
    z-index: 101;
}

#parallax-1 img {
    width: 500px;
}

#parallax-2 {
    position: fixed;
    top: -10vh;
    left: 800px;
}

#parallax-2 img {
    height: 120vh;
}

.clip-svg {
    clip-path: inset(0 0 8.5% 0);
}

#page-1 {
    border: none;
    background-color: #fddfe1;
}

#page-2 {
    border: none;
    background-color: #fddfe1;
}

#page-3 {
    border-color: #50db0f;
    background-color: darkkhaki;
}

#page-4 {
    border-color: #db570f;
    background-color: aqua;
}

#page-5 {
    border-color: #2fc29f;
    background-color: coral;
}

#page-6 {
    border-color: #d80a89;
    background-color: rgb(158, 163, 158);
}

#page-7 {
    border-color: #c48b21;
    background-color: rgb(98, 103, 173);
}
